@import url(./main2.scss);
@media screen and (max-width: 320px) {
  header {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 320px;
    height: 540px;
    background-image: url(../images/Background-1.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 35px;
  }
  header container {
    padding: 20px 20px 20px 20px;
    width: 320px;
  }
  header container .header-title {
    width: 0;
    height: 0;
  }
  header container .line {
    margin-left: 15px;
    width: 200px;
  }
  header container .line .log-in {
    margin-right: 20px;
  }
  header container .title {
    width: 281px;
    margin-left: 8px;
  }
  header container .title .share-your {
    width: 266.04px;
    height: 58.72px;
    background-position: center;
    background-size: cover;
    margin-bottom: 18px;
  }
  header container .title .and-find {
    width: 236px;
    height: 42px;
    background-image: url(../images/And-find1.png);
    margin-bottom: 15px;
  }
  header container .title .find {
    width: 280px;
  }
  content {
    width: 320px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  content container {
    width: 320px;
    height: 820px;
  }
  content container h1 {
    width: 320px;
    margin-bottom: 10px;
  }
  content container .how-it-work {
    width: 320px;
    height: 800px;
  }
  content container .how-it-work .steps {
    width: 320px;
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  content container .how-it-work .steps .step {
    width: 300px;
    height: 240px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  content container .how-it-work .steps .step-1 {
    background-image: url(../images/Step-1.png);
    background-position: center;
    background-size: cover;
    padding: 64px 38px 17px 20px;
  }
  content container .how-it-work .steps .step-1 h2 {
    line-height: 15px;
    margin-bottom: 12px;
  }
  content container .how-it-work .steps .step-2 {
    border-radius: 4px;
    background-image: url(../images/Step2.png);
    background-position: center;
    background-size: cover;
    padding: 95px 35px 0 20px;
  }
  content container .how-it-work .steps .step-2 h2 {
    line-height: 16px;
  }
  content container .how-it-work .steps .step-3 {
    border-radius: 4px;
    background-image: url(../images/Step3.png);
    background-position: center;
    background-size: cover;
    padding: 64px 25px 0 20px;
  }
  content container .how-it-work .steps .step-3 h2 {
    line-height: 15px;
    margin-bottom: 12px;
  }
  content container {
    height: 1200px;
  }
  content container .meet-partner {
    margin-top: -75px;
    width: 320px;
    height: 1030px;
  }
  content container .meet-partner h1 {
    line-height: 25px;
  }
  content container .meet-partner .persons {
    width: 300px;
    height: 900px;
    flex-direction: column;
  }
  content container .meet-partner .persons .people1 {
    padding: 5px 0 0 20px;
    display: flex;
    align-items: center;
    width: 268px;
    height: 440px;
  }
  content container .meet-partner .persons .person {
    width: 250px;
  }
  content container .meet-partner .persons .person a {
    width: 100%;
  }
  content container .meet-partner button2 {
    width: 280px;
    margin-top: 30px;
    padding: 11px 0 12px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  content container .ideas {
    width: 300px;
    height: 0px;
  }
  content container .ideas h1 {
    margin-top: -65px;
    width: 250px;
    line-height: 25px;
    padding: 0 0 30px 45px;
  }
  content container .ideas .box {
    width: 300px;
    height: auto;
    flex-direction: column;
    padding-left: 2px;
    margin: 0;
  }
  content container .ideas .box .text {
    width: 235px;
    height: 120px;
    padding-left: 35px;
  }
  content container .ideas .box .text-big {
    width: 300px;
    height: 120px;
  }
  content container .ideas .box .mask,
content container .ideas .box .mask-big {
    width: 300px;
    height: 120px;
  }
  content container .ideas .box .sport,
content container .ideas .box .health,
content container .ideas .box .extreme,
content container .ideas .box .games,
content container .ideas .box .culture,
content container .ideas .box .enjomet,
content container .ideas .box .trevelling {
    width: 300px;
    height: 120px;
    margin-bottom: 10px;
    padding: 0;
    background-position-x: 0%;
    background-position-y: 50%;
    background-size: cover;
  }
  content container .ideas .box .trevelling {
    background-position-y: 10%;
  }
  content container {
    display: flex;
    justify-content: center;
  }
  content container .interests {
    width: 320px;
    margin-top: 865px;
  }
  content container .interests h1 {
    width: 290px;
    padding-left: 32px;
    line-height: 25px;
  }
  content container .interests p {
    width: 315px;
    margin: -5px;
  }
  content container .interests .search {
    width: 280px;
    display: flex;
    flex-direction: column;
    padding-top: 22px;
  }
  content container .interests .search input[type=text-search] {
    margin-left: 17px;
    width: 280px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  content container .interests .search a {
    margin: 4px 0 0 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 280px;
  }
  footer {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 495px;
    width: 320px;
    align-items: center;
    text-align: center;
  }
  footer container {
    padding: 0;
    flex-direction: column;
    padding-top: 15px;
  }
  footer container p {
    padding-bottom: 19px;
  }
  footer container .footer-title {
    padding-right: 0;
  }
  footer container .company {
    padding-top: 3px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer container .company .a1,
footer container .company .a2 {
    display: block;
  }
  footer container .company p {
    height: 10px;
    padding-top: 10px;
  }
  footer container .company a {
    margin-right: 7px;
    padding-bottom: 11px;
    float: left;
  }
  footer container .partners {
    padding: 3px 0 0 0;
  }
  footer container .designed {
    margin-top: -10px;
    height: 55px;
  }
  footer container .designed a {
    padding-left: 0px;
  }
  footer container .designed .stiker {
    margin: auto;
    width: 110px;
    height: 24px;
    margin-top: 5px;
  }
}/*# sourceMappingURL=main3.css.map */